:root {
  color-scheme: dark;

  --body-color: #f0ffff;
  --body-secondary-color: #99a2a2;
  --body-sub-color: #272929;

  --breakpoint-sm: 640px;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-upright.var.woff2") format("woff2");
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--body-color);
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-feature-settings: "liga", "dlig", "kern";
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.flux-ui footer {
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 1;

  padding: 0.6rem 0.6rem;
  font-size: 0.65em;
  line-height: 1.3;
  letter-spacing: -0.012em;
  color: var(--body-secondary-color);
}

@media (min-width: 640px) {
  .flux-ui footer {
    bottom: 0;
    font-size: 0.75em;
  }
}
